<% var posts = site.posts.sort('-date'); %>
<% var lastPost = posts.toArray()[posts.length - 1]; %>
<% var lastPostDate = new Date(lastPost.date); %>
<% var today = new Date(); %>
<% var daysSinceLastPost = Math.floor((today - lastPostDate) / (1000 * 60 * 60 * 24)); %>
<div id="main">
    <div id="details">
        <div class="pc-main">
            <div class="banner">
                <div class="banner-left">
                    <img src="<%= url_for(theme.book.cover) %>">
                    <div class="book-information">
                        <div class="book-title">
                            <p class="title"><%= theme.book.title %></p>
                            <% if (theme.book.completion_status==0) { %><span class="publish-in-instalments">连载中</span><% } %>
                            <% if (theme.book.completion_status==1) { %><span class="end">完结</span><% } %>
                        </div>
                        <div class="book-category">
                            <% for (var key in theme.book.category) { %><span class="category"><%- theme.book.category[key] %></span><% } %>
                        </div>
                        <div class="book-total one">
                            <span><%= totalcount(site) %></span><span>字</span><span>&ensp;|&ensp;</span><span id="busuanzi_value_site_pv"></span><span>人气</span>
                        </div>
                        <div class="book-total two">
                            <span class="bold">最后更新：</span><% var latestPost = site.posts.sort('-date').first(); %><span class="key"><%= latestPost.updated.format('YYYY-MM-DD HH:mm') %></span>
                        </div>
                        <div class="book-total three">
                            <span class="bold">最新章节：</span><% var latestPost = site.posts.sort('-date').first(); %><span class="key"><%= latestPost.title %></span>
                        </div>
                        <% var latestPost = site.posts.sort('-date').first(); %><a class="read" id="darken" href="<%- url_for(latestPost.path) %>">
                            <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>start-reading"></i>
                            开始阅读
                        </a>
                    </div>
                </div>
                <div class="banner-right">
                    <div class="banner-introduce">
                        <p>书籍介绍</p>
                        <div class="book-introduce">
                            <span>
                                &ensp;&ensp;&ensp;&ensp;<%= theme.book.describe.one %>
                            </span><br>
                            <% if (theme.book.describe.two) { %><span>
                                &ensp;&ensp;&ensp;&ensp;<%= theme.book.describe.two %>
                            </span><% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pe-main">
            <div class="banner-top" style="background-color: <%= theme.book.cover_host_color %>; background-image: linear-gradient(45deg, <%= theme.book.cover_host_color %> 0%, <%= theme.book.cover_assistant_color %> 100%)">
                <div class="book-information">
                    <div class="title"><%= theme.book.title %></div>
                    <div class="book-total">
                        <span class="category"><%- theme.book.category[0] %></span><div class="separate"></div><% if (theme.book.completion_status==0) { %><span>连载中</span><% } %><% if (theme.book.completion_status==1) { %><span>完结</span><% } %><div class="separate"></div><span><%= totalcount(site) %></span><span>字</span>
                    </div>
                    <% var latestPost = site.posts.sort('-date').first(); %><a class="read" href="<%- url_for(latestPost.path) %>">
                        <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>start-reading"></i>
                        <span>开始阅读</span>
                    </a>
                </div>
                <img src="<%= url_for(theme.book.cover) %>">
            </div>
            <div class="banner-bottom">
                <div class="banner-introduce">
                    <p>书籍介绍</p>
                    <div class="book-introduce">
                        <span>
                            &ensp;&ensp;&ensp;&ensp;<%= theme.book.describe.one %>
                        </span><br>
                        <% if (theme.book.describe.two) { %><span>
                            &ensp;&ensp;&ensp;&ensp;<%= theme.book.describe.two %>
                        </span><% } %>
                    </div>
                    <div class="book-category">
                        <% for (var key in theme.book.category) { %><span class="category"><%- theme.book.category[key] %></span><% } %>
                    </div>
                    <div id="separator-bar"></div>
                    <div class="author">
                        <div class="author-img">
                            <img src="<%= theme.book.author_img %>">
                        </div>
                        <p>关于作者</p>
                        <div class="author-name">
                            <span class="name">笔名：</span>
                            <span><%= theme.book.author %></span>
                        </div>
                        <div class="author-statistics">
                            <span>积累字数<%= totalcount(site) %>字 | 创作天数<%= daysSinceLastPost %>天</span>
                        </div>
                        <div class="author-introduce">
                            <p class="introduce">个人介绍</p>
                            <span><%= theme.book.introduce %></span>
                        </div>
                        <div id="separator-bar"></div>
                    </div>
                </div>
            </div>
            <a class="author-home" href="<%= theme.book.author_home %>" rel="external nofollow" target="_blank">
                <span>查看作者主页</span>
                <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>right-arrow"></i>
            </a>
        </div>
    </div>
    <div class="col-content">
        <div class="content">
            <div class="backlist-nav">
                <span>文章目录</span>
            </div>
            <div class="backlist">
                <% posts.forEach(function(post) { %><div class="backlist-list">
                    <div class="backlist-title"><a href="<%= post.path %>"><%= post.title %></a></div>
                    <div class="backlist-time"><%= post.date.format('YYYY-MM-DD') %></div>
                </div><% }); %>
            </div>
        </div>
        <div class="sidebar">
            <div class="author-card">
                <div class="author">
                    <div class="author-head">
                        <div class="author-img">
                            <img src="<%= theme.book.author_img %>">
                        </div>
                        <div class="author-name"><%= theme.book.author %></div>
                        <div class="author-introduce"><%= theme.book.introduce %></div>
                    </div>
                    <div class="author-statistics">
                        <a href="/archives/" data-pjax-state="">
                            <div class="headline">文章</div>
                            <div class="length-num"><%= site.posts.length %></div>
                        </a>
                        <div class="author-word-count">
                            <div class="headline">字数</div>
                            <div class="length-num"><%= totalcount(site) %></div>
                        </div>
                        <div class="author-creation-days">
                            <div class="headline">创作</div>
                            <div class="length-num"><%= daysSinceLastPost %></div>
                        </div>
                    </div>
                    <div class="author-contact">
                        <a class="social-icon" href="http://wpa.qq.com/msgrd?v=3&amp;uin=<%= theme.book.author_contact.qq %>" rel="external nofollow" target="_blank" title="<%= theme.book.author_contact.qq %>">
                            <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>qq"></i>
                        </a>
                        <a class="social-icon" href="https://weibo.com/u/<%= theme.book.author_contact.weibo %>" rel="external nofollow" target="_blank" title="<%= theme.book.author_contact.weibo %>">
                            <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>weibo"></i>
                        </a>
                        <a class="author-home" href="<%= theme.book.author_home %>">
                            <span class="author-home-text">了解更多</span>
                            <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>right-arrow"></i>
                        </a>
                    </div>
                </div>
                <div class="bulletin-board-card">
                    <div class="item-headline">
                        <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>bulletin-board"></i>
                        <span>公告</span>
                    </div>
                    <div class="bulletin-board-content">
                        <%- theme.bulletin_board %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>