<div id="main">
    <div class="top-main">
        <div class="banner-head">
            <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>details"></i>
            <span>书籍详情</span>
        </div>
        <div class="banner-details">
            <div class="book-details">
                <img src="<%= url_for(theme.book.cover) %>">
                <div class="details">
                    <div class="details-title">
                        <p><%= theme.book.title %></p>
                        <% if (theme.book.completion_status==0) { %><span class="publish-in-instalments">连载中</span><% } %>
                        <% if (theme.book.completion_status==1) { %><span class="end">完结</span><% } %>
                    </div>
                    <div class="details-describe">
                        <span>
                            <%= theme.book.describe.one %>
                        </span><br>
                        <% if (theme.book.describe.two) { %><span>
                            <%= theme.book.describe.two %>
                        </span><% } %>
                    </div>
                    <div class="details-author">
                        <p>作者：</p>
                        <p><%= theme.book.author %></p>
                        <span>|</span>
                        <a href="<%= url_for(theme.book.author_home) %>">关于作者</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-text"></div>
    </div>
    <div class="button-main"></div>
</div>