<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
    <header>
        <%- partial('_partial/nav') %>
    </header>
    <body>
        <%- body %>
        <%- partial('_partial/foot') %>
    </body>
</html>