<div id="footer">
    <div class="footer-links">
        <div class="footer-left">
            <div id="footer-tips">
                <div class="copyright-author">
                    Copyright © 2023  By <a class="footer-link" target="_blank" href="https://github.com/yife68" title="Melancholia主题作者" rel="external nofollow">亦封</a> | <a class="footer-link" target="_blank" href="https://meuicat.com/" title="作者官网" rel="external nofollow">MeuiCat</a> 版权所有
                </div>
                <div class="copyright-theme">
                    Powered by <a class="footer-link" target="_blank" href="https://github.com/yife68" rel="external nofollow">Hexo</a> | Theme by <a class="footer-link" target="_blank" href="https://github.com/yife68" rel="external nofollow">Melancholia</a>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <a class="footer-link" target="_blank" href="https://beian.miit.gov.cn/" rel="noopener external nofollow noreferrer noopener"><%= theme.footer.icp %></a>
            <a class="footer-link cc" href="/cc/" title="cc协议" data-pjax-state="">
                <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>cc"></i>
                <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>by"></i>
                <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>ys"></i>
                <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>sy"></i>
            </a>
        </div>
    </div>
</div>

<%- partial('_partial/scripts.ejs') %>